# Base de datos Supabase
DB_URL=jdbc:postgresql://db.tuproyecto.supabase.co:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=tu_password_aqui

# AWS S3
AWS_BUCKET_NAME=vitalbite-documentos
AWS_REGION=us-east-1
AWS_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

# JWT
JWT_SECRET=una_clave_secreta_muy_larga_y_segura_minimo_32_caracteres